{% extends "layout.html.twig" %}
{% block content %}
    <!-- Content area -->
    <div class="content-area">

        <div id="main">
            <!-- SLIDER -->
            <section class="page-section no-padding background-img-slider">
                <div class="container">

                    <div id="main-slider" class="owl-carousel owl-theme">

                        <!-- Slide -->
                        <div class="item page text-center slide0">
                            <div class="caption">
                                <div class="container">
                                    <div class="div-table">
                                        <div class="div-cell">
                                            <h2 class="caption-title" data-animation="fadeInDown" data-animation-delay="100"><span>Abril 19, 2016</span></h2>
                                            <h3 class="caption-subtitle" data-animation="fadeInUp" data-animation-delay="300">#PHPWay Abril 2016</h3>
                                            <div class="countdown-wrapper">
                                                <div id="defaultCountdown" class="defaultCountdown clearfix"></div>
                                            </div>
                                            <p class="caption-text">
                                                <a target="_blank" class="btn btn-theme btn-theme-xl scroll-to" href="http://www.meetup.com/es-ES/PHP-The-Right-Way/events/229129441/" data-animation="flipInY" data-animation-delay="600"> Registro <i class="fa fa-arrow-circle-right"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="item page slide2">
                            <div class="caption">
                                <div class="container">
                                    <div class="div-table">
                                        <div class="div-cell">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="text-holder">
                                                        <h2 class="caption-title">Abril 19, 2016</h2>
                                                        <h3 class="caption-subtitle">#PHPWay </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Event description -->
                                            <!-- /Event description -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Event description -->
                <div class="event-description">
                    <div class="container">
                        <div class="row">
                            <div class="event-background">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <div class="media">
                                                <span class="pull-left">
                                            <i class="fa fa-calendar fa-2x"></i>
                                        </span>
                                                <div class="media-body">
                                                    <h4 class="media-heading">Fecha</h4>
                                                    <span>Abril 19, 19:00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <div class="media">
                                                <span class="pull-left">
                                            <i class="fa fa-map-marker fa-2x"></i>
                                        </span>
                                                <div class="media-body">
                                                    <h4 class="media-heading">Lugar:</h4>
                                                    <span>Nuevo León 254, Hipódromo Condesa</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-2">
                                            <div class="media">
                                                <span class="pull-left">
                                            <i class="fa fa-group fa-2x media-object"></i>
                                        </span>
                                                <div class="media-body">
                                                    <h4 class="media-heading">Lugares</h4>
                                                    <span>100 Tickets</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <div class="media">
                                                <span class="pull-left">
                                            <i class="fa fa-microphone fa-2x"></i>
                                        </span>
                                                <div class="media-body">
                                                    <h4 class="media-heading">Speakers</h4>
                                                    <span>3 Professional Speakers</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Event description -->

            </section>
            <!-- /SLIDER -->
        </div>

        <!-- PAGE ABOUT -->
        <section class="page-section" id="about">
            <div class="container">
                <h1 class="section-title">
                <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span class="fa-stack"><i class="fa crcle fa-stack-2x"></i><i class="fa fa-star fa-stack-1x"></i></span></span>
                <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">PHP <small>/ The Right Way</small></span>
            </h1>
                <div class="row">
                    <div class="col-lg-8">
                        <p data-animation="fadeInUp" data-animation-delay="300">
                            Ya tenemos fecha y sede para nuestra meetup de Abril, gracias a Conekta por el espacio.
                            Las charlas se publicaran cuando nuestros speakers nos confirmen.
                        </p>
                        <p class="btn-row">
                            <a href="#register" class="btn btn-theme btn-theme-xl scroll-to" data-animation="flipInY" data-animation-delay="200">Register <i class="fa fa-arrow-circle-right"></i></a>
                        </p>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left">

                        <!-- Thumbnails -->
                        <div class="row thumbnails">

                            <div class="col-sm-6 col-xs-6">
                                <div class="thumbnail no-border no-padding" data-animation="fadeInLeft" data-animation-delay="100">
                                    <div class="media">
                                        <img src="http://photos3.meetupstatic.com/photos/event/1/2/0/2/600_447484610.jpeg" alt="">
                                        <div class="caption hovered">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <p class="caption-buttons"><a href="http://photos3.meetupstatic.com/photos/event/1/2/0/2/600_447484610.jpeg" class="btn caption-zoom" data-gal="prettyPhoto"><i class="fa fa-search"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-6">
                                <div class="thumbnail no-border no-padding" data-animation="fadeInDown" data-animation-delay="200">
                                    <div class="media">
                                        <img src="http://photos1.meetupstatic.com/photos/event/8/d/0/9/600_448176105.jpeg" alt="">
                                        <div class="caption hovered">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <p class="caption-buttons"><a href="http://photos1.meetupstatic.com/photos/event/8/d/0/9/600_448176105.jpeg" class="btn caption-zoom" data-gal="prettyPhoto"><i class="fa fa-search"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-6">
                                <div class="thumbnail no-border no-padding" data-animation="fadeInRight" data-animation-delay="300">
                                    <div class="media">
                                        <img src="http://photos2.meetupstatic.com/photos/event/d/7/c/1/600_448135233.jpeg" alt="">
                                        <div class="caption hovered">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <p class="caption-buttons"><a href="http://photos2.meetupstatic.com/photos/event/d/7/c/1/600_448135233.jpeg" class="btn caption-zoom" data-gal="prettyPhoto"><i class="fa fa-search"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-6">
                                <div class="thumbnail no-border no-padding" data-animation="fadeInUp" data-animation-delay="400">
                                    <div class="media">
                                        <img src="http://photos4.meetupstatic.com/photos/event/1/1/0/9/600_447004361.jpeg" alt="">
                                        <div class="caption hovered">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <p class="caption-buttons"><a href="http://photos4.meetupstatic.com/photos/event/1/1/0/9/600_447004361.jpeg" class="btn caption-zoom" data-gal="prettyPhoto"><i class="fa fa-search"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /Thumbnails -->

                    </div>
                </div>
            </div>
        </section>
        <!-- /PAGE ABOUT -->

        <!-- Donation -->
        <section class="page-section color" id="donation">
            <div class="container">
                <h1 class="section-title">
                <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span class="fa-stack"><i class="fa crcle fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">Patrocina un evento <small></small></span>
            </h1>
                <p>
                    Si gustas invitarnos una chela o un par de pizzas con gusto las aceptamos! 
                </p>

                <!-- Make a donation now
            https://developer.paypal.com/webapps/developer/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/
            -->
                <!--form action="https://www.paypal.com/cgi-bin/webscr" method="post"-->
                <form method="post">
                    <!-- Identify your business so that you can collect the payments. -->
                    <input type="hidden" name="business" value="yourpaypalemail@domain.com">
                    <!-- Specify a Donate button. -->
                    <input type="hidden" name="cmd" value="_donations">
                    <!-- Specify details about the contribution -->
                    <input type="hidden" name="item_name" value="Donate">
                    <input type="hidden" name="item_number" value="">
                    <input type="hidden" name="amount" value="25.00">
                    <input type="hidden" name="currency_code" value="USD">
                    <!-- Display the payment button. -->
                    <button name="submit" class="btn btn-theme">Donar</button>
                    <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
                </form>

            </div>
        </section>
        <!-- /Donation -->

        <!-- PAGE SCHEDULE -->
        <section class="page-section light" id="schedule">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 pull-left">
                        <h1 class="section-title">
                            <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span class="fa-stack"><i class="fa crcle fa-stack-2x"></i><i class="fa fa-star fa-stack-1x"></i></span></span>
                            <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">Charlas <small></small></span>
                        </h1>
                    </div>
                </div>

                <!-- Schedule -->
                <div class="schedule-wrapper clear" data-animation="fadeIn" data-animation-delay="200">
                    <div class="schedule-tabs lv1">
                        <ul id="tabs-lv1" class="nav nav-justified">
                            <li class="active"><a href="#tab-first" data-toggle="tab"><strong>Charlas</strong> <br/>19:00</a></li>
                        </ul>
                    </div>
                    <div class="tab-content lv1">
                        <!-- tab1 -->
                        <div id="tab-first" class="tab-pane fade in active">
                            <div class="schedule-tabs lv2">
                                <ul id="tabs-lv21" class="nav nav-justified">
                                    <li class="active"><a href="#tab-lv21-first" data-toggle="tab">SPEAKERS</a></li>
                                </ul>
                            </div>
                            <div class="tab-content lv2">
                                <div id="tab-lv21-first" class="tab-pane fade in active">
                                    <div class="timeline">

                                        <article class="post-wrap" data-animation="fadeInUp" data-animation-delay="300">
                                            <div class="media">
                                                <!-- -->
                                                <div class="post-media pull-left">
                                                    <img src="https://pbs.twimg.com/profile_images/3088342087/06c04fe8ef9a75f8b58df8bfae96afe1.png" alt="" class="media-object" />
                                                </div>
                                                <!-- -->
                                                <div class="media-body">
                                                    <div class="post-header">
                                                        <div class="post-meta">
                                                            <span class="post-date"><i class="fa fa-clock-o"></i> 19:30 - 08:00</span>
                                                        </div>
                                                        <h2 class="post-title"><a href="#">Laravel Command Bus</a></h2>
                                                    </div>
                                                    <div class="post-body">
                                                        <div class="post-excerpt">
                                                            <p>
                                                                Diseñamos plataformas, apps, interfaces, creamos estrategias de marketing digital y community management. Aunque más que crear productos, diseñamos experiencias    
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="post-footer">
                                                        <span class="post-readmore">
                                                        <i class="fa fa-microphone"></i> <strong>@dinkbit</strong> / dinkbit.com
                                                        <a href="https://twitter.com/dinkbit"><i class="fa fa-twitter"></i></a>
                                                    </span>
                                                    </div>
                                                </div>
                                                <!-- -->
                                            </div>
                                        </article>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Schedule -->

            </div>
        </section>
        <!-- /PAGE SCHEDULE -->

        <!-- PAGE SPONSORS -->
        <section class="page-section" id="sponsors">
            <div class="container">
                <h1 class="section-title">
                <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa crcle fa-stack-2x"></i><i class="fa fa-thumbs-up fa-stack-1x"></i></span></span>
                <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">Sponsors <small></small></span>
            </h1>
                <div class="partners-carousel" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="owl-carousel">
                        <div>
                            <a target="_blank" href="http://centraal.com/"><img src="http://centraal.com/images/logo/LOGO_centraal11.png" alt="" /></a>
                        </div>
                        <div>
                            <a target="_blank" href="http://www.indava.com/"><img src="http://indava.com/sites/all/themes/sardinia/logo.png" alt="" /></a>
                        </div>
                    </div>
                </div>

                <div class="text-center margin-top">
                    <a data-animation="flipInY" data-animation-delay="500" href="#" class="btn btn-theme"><i class="fa fa-thumbs-up"></i> Patrocina un evento</a>
                </div>
            </div>
        </section>
        <!-- /PAGE SPONSORS -->

        <section class="page-section color">
            <div class="container">
                <h1 class="section-title">
                <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span class="fa-stack"><i class="fa crcle fa-stack-2x"></i><i class="fa fa-comments fa-stack-1x"></i></span></span>
                <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">Tweets <small> / Mira el hashtag #phpWay</small></span>
            </h1>

                <!-- Testimonials -->
                <div id="testimonials" class="owl-carousel testimonials" data-animation="fadeInUp" data-animation-delay="100">

                    <div class="media testimonial">
                        <div class="media-object pull-right" data-animation="flipInY" data-animation-delay="300">
                            <div class="testimonial-avatar">
                                <img width="250px" class="img-responsive img-circle" src="https://pbs.twimg.com/profile_images/640811180517257216/_O0rcsHc.png" alt="" />
                            </div>
                        </div>
                        <div class="media-body">
                            <p>
                                #PHPWay What is HATEOAS and why is it important for my REST API? http://restcookbook.com/Basics/hateoas/ 
                            </p>
                            <h4 class="media-heading">by @miguel1mx </h4>
                        </div>
                    </div>

                    <div class="media testimonial">
                        <div class="media-object pull-right" data-animation="flipInY" data-animation-delay="300">
                            <div class="testimonial-avatar">
                                <img width="250px" class="img-responsive img-circle" src="https://pbs.twimg.com/profile_images/476789843888836608/oDZWNqk1.jpeg" alt="" />
                            </div>
                        </div>
                        <div class="media-body">
                            <p>
                                Crear API's es la mejor idea para contar con un sistema escalable, independizado nuestro sistema del front-end #PHPWay
                            </p>
                            <h4 class="media-heading">by @jelidleon </h4>
                        </div>
                    </div>

                    <div class="media testimonial">
                        <div class="media-object pull-right" data-animation="flipInY" data-animation-delay="300">
                            <div class="testimonial-avatar">
                                <img width="250px" class="img-responsive img-circle" src="https://pbs.twimg.com/profile_images/587078670155546624/Cwl_2QBn.jpg" alt="" />
                            </div>
                        </div>
                        <div class="media-body">
                            <p>
                                Pasenle al streaming del #phpWay https://www.youtube.com/watch?v=dmdMojsa5zI
                            </p>
                            <h4 class="media-heading">by @lcortes_ </h4>
                        </div>
                    </div>

                </div>
                <!-- Testimonials -->

            </div>
        </section>

        <!-- PAGE SPEAKERS -->
        <section class="page-section light" id="speakers">
            <div class="container">
                <h1 class="section-title">
                <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span class="fa-stack"><i class="fa crcle fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span></span>
                <span data-animation="fadeInUp" data-animation-delay="500" class="title-inner">Speakers <small></small></span>
            </h1>

                <!-- Speakers row -->
                <div class="row thumbnails clear">
                    <div class="col-sm-6 col-md-3" data-animation="fadeInUp" data-animation-delay="100">
                        <div class="thumbnail no-border no-padding text-center">
                            <div class="circle">
                                <div class="circle-inner">
                                    <div class="media">
                                        <img src="https://pbs.twimg.com/profile_images/3088342087/06c04fe8ef9a75f8b58df8bfae96afe1.png" alt="">
                                        <div class="caption hovered">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <p class="caption-buttons"><a target="_blank" href="http://twitter.com/@dinkbit" class="btn caption-link"><i class="fa fa-link"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="caption before-media">
                                <h3 class="caption-title">@dinkbit</h3>
                                <p class="caption-category">dinkbit.com</p>
                            </div>
                            <div class="caption">
                                <p>
                                    Diseñamos plataformas, apps, interfaces, creamos estrategias de marketing digital y community management. Aunque más que crear productos, diseñamos experiencias
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Speakers row -->
            </div>
        </section>
        <!-- /PAGE SPEAKERS -->

        <section class="page-section image" id="register">
            <div class="container">
                <h1 class="section-title">
                    <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span class="fa-stack"><i class="fa crcle fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                    <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">Registrate <small></small></span>
                </h1>

                <div class="col-md-12 overflowed">
                    <div class="text-center margin-top">
                        <a target="_blank" href="http://www.meetup.com/es-ES/PHP-The-Right-Way/events/229129441/">
                            <button data-animation="flipInY" data-animation-delay="100" class="btn btn-theme btn-theme-xl submit-button" type="submit"> Registro <i class="fa fa-arrow-circle-right"></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- PAGE LOCATION -->
        <section class="page-section" id="location">
            <div class="container full-width gmap-background">

                <div class="container">
                    <div class="on-gmap color">
                        <h1 class="section-title">
                        <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa crcle fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                        <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">Lugar</span>
                    </h1>
                        <p data-animation="fadeInUp" data-animation-delay="200" class="text-uppercase">
                            Conekta 
                            <br/> 
                            Nuevo León 254
                            <br/> 
                            Hipódromo Condesa
                            <br/>
                            D.F. 06100, México City
                        </p>
                    </div>
                </div>

                <!-- Google map -->
                <div class="google-map">
                    <div id="map-canvas"></div>
                </div>
                <!-- /Google map -->

            </div>
        </section>
        <!-- /PAGE LOCATION -->

    </div>
    <!-- /Content area -->
{% endblock %}